.ThirdPage {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.ThirdPage.show {
    opacity: 1;
}
main{
    height: 100%;
    width: 100%;
}
.background{
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #f7e3e2;
}
img.backimg {
    height: 100%;
    width: 90%;
}
.num1 {
    left: 25em;
}
.btn2 {
    top: 75%;
    left: 30%;
}