*{
  padding: 0;
  margin: 0;
}
body, #root{
  height: 100vh;
  width: 100vw;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
button, input{
  border: none;
  outline: none;
}
main{
  height: 100%;
  width: 100%;
  background-color: grey;
}
.button{
  height: 7%;
  width: 10%;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  background-color: black;
}
.note-ka-dabba {
  position: absolute;
  top: 0;
  height: 100%;
  width: 25%;
  right: 0;
}
.notes-div.flex {
  height: 100%;
  width: 100%;
  color: white;
  flex-direction: column;
}
.sticky-head {
  background-color: #151537;
  justify-content: space-between;
  height: 3%;
  width: 90%;
  padding: 1em;
}
.content-div{
  height: 35%;
  width: 100%;
  flex-direction: column;
}
.written-note.flex {
  height: 80%;
  width: 100%;
}
.sending-data.flex {
  height: 20%;
  width: 100%;
}
.show-content-div.flex {
  height: 57%;
  width: 100%;
  flex-direction: column;
}
.text-input {
  height: 100%;
  width: 100%;
  background-color: #2d2d50;
  color: white;
  padding-left: 1em;
  font-size: larger;
}
.text-input::placeholder{
  color: white;
  /* padding-left: 1em; */
}
.btn{
  height: 100%;
  width: 100%;

}
button{
  height: 100%;
  width: 55%;
  background-color: black;
  color: white;
}